@{
    ViewData["Title"] = "ClothesForFree";
}

<div class="jumbotron">
    <h1>Вещи даром</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clothes For Free</h2>
        <p>
            У каждого есть вещи, которые жалко выбросить, 
            но при этом они не нужны. Этот раздел как раз для того, 
            чтобы полезные вещи не стояли просто так, покрываясь пылью, 
            а использовались по назначению. Если у Вас есть что-то, 
            что Вы можете отдать бесплатно, или обменять на другую полезную для Вас вещь
        </p>
    </div>
</div>